<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Twoj Magazyn{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet"
              href="{{ asset('foundation/css/foundation.min.css') }}"
              type="text/css" />
        <link rel="stylesheet"
              href="{{ asset('foundation/css/normalize.css') }}"
              type="text/css" />
        <script type="text/javascript"
              src="{{ asset('foundation/js/vendor/modernizr.js') }}"></script>
        <script type="text/javascript"
                src="{{ asset('foundation/js/vendor/jquery.js') }}"></script>
        <script type="text/javascript"
                src="{{ asset('foundation/js/foundation.min.js') }}"></script>
    </head>
    <body>
        {% for flashMessage in app.session.flashbag.get('notice') %}
        <div data-alert class="alert-box success radius" style="text-align: center">
            {{ flashMessage }}
            <a href="#" class="close">&times;</a>
        </div>
        {% endfor %}
        
        {% block header %}
        {% endblock %}
            
        {% block goBackUser %}
        {% endblock %}
        
        {% block body %}
        {% endblock %}
        
         {% block footer %}
            <br><br>
            <div class="row">
                <div class="large-12 columns" style="text-align: center">
                    <a href={{path('user_mail')}}>Kontakt</a> z Twórc¹
                </div>
            </div>
        {% endblock %}
        
        {% block javascripts %}
            <script type="text/javascript">
            $(document).foundation();
        </script>
        {% endblock %}
        
    </body>
</html>
