Dodaj nowy produkt do bazy danych<br><br>

{{ form_start(form) }}
{# wyświetla znacznik <form> z odpowiednio uzupełnionymi danymi #}

{{form_row(form.name)}}
{{ form_row(form.category) }}
{{form_row(form.description)}}
{{ form_row(form.price) }}
{{ form_row(form.keywords) }}
<button type="submit">Dodaj</button>

{{ form_end(form) }}