Dodaj nowy produkt do bazy danych<br><br>

{{ form_start(form) }}

{{form_row(form.metaProduct) }}
{{ form_row(form.store) }}
{{ form_row(form.amount) }}
{{ form_row(form.expireAt) }}



<button type="submit">Dodaj</button>

{{ form_end(form) }}