{% extends "baseUser.html.twig" %}

{% block body %}
<h2>Produkty w Twoim sklepie:</h2>

{#todo uwaga!- bledne path#}

{#<a href={{ path('user_test') }} class="button" ></a>
<a href={{ path('user_test') }} class="button" >Pokaz wg kategorii</a><br> #}


<h3>Wszystkie produkty: </h3>
<ol>
{% for product in products %}
    <li>
        Nazwa: {{ product.metaProduct.name }} <br>
        Cena: {{ product.metaProduct.price }}<br>
        Iloœæ: {{ product.amount }}<br>
        Kategoria:<br>
        <ul>
            {#error! Nie rzuca bledem, ale nie wyswietla kategorii #}
            {#
                #fixme: To prawdopodobntie przez to, że metaproduct ma jedną
                    kategorię. Foreach więc nie ma tablicy, na której mógłby
                    pracować, więc ten blok jest pomijany
            #}

            {% for category in product.metaProduct.category %}
                <li>
                    {% include "store/includes/category.html.twig" with {'category':category} %}
                </li>
            {% endfor %}
        </ul>

        Data waznosci: {{ product.expireAt|date('Y-m-d') }}<br>
        <a href={{ path('product_reduce', {'groupId':groupId, 'storeId':storeId, 'id':product.id } ) }} class="button">Zmniejsz ilosc</a>
    </li>

{% endfor %}
</ol>
{% endblock %}
